{
  "resourceType": "Questionnaire",
  "id": "{{ id }}",
  "url": "{{ url }}",
  "version": "{{ version }}",
  "status": "{{ status }}",
  "date": "{{ date }}",
  "name": "{{ name }}",
  "title": "{{ title }}",
  "description": {{ description | tojson }},
  "item": {{ item | tojson }}
}
