{
  "resourceType": "Questionnaire",
  "id": "{{ id }}",
  "url": "{{ url }}",
  "version": "{{ version }}",
  "status": "{{ status }}",
  "date": "{{ date }}",
  "name": "{{ name }}",
  "title": "{{ title }}",
  "description": {{ description | tojson }},
  {% if meta_profile | default([]) %}"meta": {"profile": {{ meta_profile | default([]) | tojson }}}, {% endif %}
  {% if extension | default([]) %}"extension": {{ extension | default([]) | tojson }}, {% endif %}
  "item": {{ item | tojson }}
}
