{
  "resourceType": "PlanDefinition",
  "id": "{{ id }}",
  "url": "{{ url }}",
  "version": "{{ version }}",
  "status": "{{ status }}",
  "date": "{{ date }}",
  "name": "{{ name }}",
  "title": "{{ title }}",
  "type": {{ type | tojson }},
  "action": {{ action | tojson }}
}
