{
  "resourceType": "PlanDefinition",
{% if meta_profile %}
  "meta": {
    "profile": {{ meta_profile | tojson }}
  },
{% endif %}
  "id": "{{ id }}",
  "url": "{{ url }}",
  "version": "{{ version }}",
  "status": "{{ status }}",
  "date": "{{ date }}",
  "name": "{{ name }}",
  "title": "{{ title }}",
  "description": {{ description | tojson }},
  "type": {{ type | tojson }},
  "library": {{ library | tojson }},
  "action": {{ action | tojson }}
}
