{
  "resourceType": "ActivityDefinition",
  "id": "{{ id }}",
  "url": "{{ url }}",
  "version": "{{ version }}",
  "status": "{{ status }}",
  "date": "{{ date }}",
  "name": "{{ name }}",
  "title": "{{ title }}",
  "description": {{ description | tojson }},
{% if extension %}
  "extension": {{ extension | tojson }},
{% endif %}
  "meta": {
    "profile": {{ meta_profile | tojson }}
  },
  "kind": "{{ kind }}",
  "intent": "{{ intent }}",
  "code": {{ code | tojson }},
  "dynamicValue": {{ dynamic_value | tojson }}{% if participant or related_artifact %},{% endif %}
{% if participant %}
  "participant": {{ participant | tojson }}{% if related_artifact %},{% endif %}
{% endif %}
{% if related_artifact %}
  "relatedArtifact": {{ related_artifact | tojson }}
{% endif %}
}
